<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Architectural Company</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />	
	
</head>

<body>

<div id="wrapper">
	<h1>Su Compañia</h1>
	<div id="nav">
		<a href="/#">Link1</a>
		<a href="/#">Link2</a>
		<a href="/#">Link3</a>
		<a href="/#">Link4</a>
		<a href="/#">Link5</a>
	</div>
	<div id="body">
		<div id="body-top">
			<div id="body-top-2"></div>
			<div id="body-bot">
				<div id="welcome">
					<img src="images/pic_1.jpg" width="231" height="301" alt="Pic 1" />
					<h2>Bienvenido</h2>
					<p>Blah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah Blah</p>
						
			<p class="more"><a href="/#" class="bar-drk">más</a></p>
				</div>
				<div id="content">
					<img src="images/pic_2.jpg" width="109" height="108" alt="Pic 2" class="left" />
					<h2>Acerca de su Compañia </h2>
					
			
			        <p>Blah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah Blah</p>
			
			        <p class="more" id="intro"><a href="/#" class="bar-lit">más</a></p>
					
					<div class="fineline"></div>
					
					<h2>Últimos Proyectos</h2>
					<div id="picbar">
						<div id="arr-left">
							<a href="/#"><img src="images/arr_left.gif" width="15" height="90" alt="Arr Left" /></a>
						</div>
						<div class="picbox">
							<a href="/#"><img src="images/pic_3.jpg" width="117" height="74" alt="Pic 3" /></a>
						</div>
						<div class="picbox">
							<a href="/#"><img src="images/pic_4.jpg" width="117" height="74" alt="Pic 4" /></a>
						</div>
						<div class="picbox">
							<a href="/#"><img src="images/pic_5.jpg" width="117" height="74" alt="Pic 5" /></a>
						</div>
  					<div id="arr-right">
	  					<a href="/#"><img src="images/arr_right.gif" width="15" height="90" alt="Arr Right" /></a>
		  			</div>
						<div class="clear"></div>
					</div>
					
					<div class="fineline-flat"></div>
					
				  <div id="planer">
				  	<h2>Topico1</h2>
				  	<div class="fineborder"><img src="images/pic_6.jpg" width="186" height="79" alt="Pic 6" /></div>
				  	<p>Blah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah Blah</p>
			
				  	<p class="more"><a href="/#" class="bar-lit">más</a></p>
				  </div>
				  <div id="stories">
				  	<h2>Topico2</h2>
				  	<div class="fineborder"><img src="images/pic_7.jpg" width="186" height="79" alt="Pic 7" /></div>
				  	<p>Blah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah BlahBlah Blah</p>
				  	<p class="more"><a href="/#" class="bar-lit">más</a></p>
				  </div>
				  <div class="clear-flat"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div id="footer">
		<p>Copyright Virgen Systems. reservados todos los derechos</p>
	</div>
</div>

</body>
</html>
